extends ../admin_content
block content
    .container-content.animated.fadeInRight
        .row.col-xs-12
            .ibox
                .ibox-title
                    h5 列表管理
                    .ibox-tools
                        a.collapse-link
                            i.fa.fa-chevron-up
                        a.collapse-link
                            i.fa.fa-plus
                .ibox-content
                    table.table.table-hover.table-bordered
                        thead
                            tr
                                th 名字
                                th 时间
                                th 查看
                                th 修改
                                th 删除
                        tbody
                            each item in categories
                                tr(class="item-id-#{item._id}")
                                    td #{item.name}
                                    td #{moment(item.meta.updateAt).format('YYYY-MM-DD')}
                                    td
                                        a(target="_blank",href="../detail/#{item._id}") 查看
                                    td
                                        a(target="_blank",href="../admin/update/#{item._id}") 修改
                                    td
                                        button.btn.btn-danger.del(type="button",data-id="#{item._id}") 删除
    script.
        var VIEW=''