extends ../admin_content
block content
    .container-content.animated.fadeInRight
        .row.col-xs-12
            .ibox
                .ibox-title
                    h5 列表管理
                    .ibox-tools
                        a.collapse-link
                            i.fa.fa-chevron-up
                        a.collapse-link
                            i.fa.fa-plus
                .ibox-content
                    table.table.table-hover.table-bordered
                        thead
                            tr
                                th 电影名字
                                th 电影类型
                                th 导演
                                th 国家
                                th 上映年份
                                //th 录入时间
                                th 查看
                                th 更新
                                th 删除
                            tbody
                                each item in movies
                                    tr(class="item-id-#{item._id}")
                                        td #{item.title}
                                        td #{item.category.name}
                                        td #{item.doctor}
                                        td #{item.country}
                                        td #{item.year}
                                        //td #{moment(item.meta.createdAT).format('MM/DD/YYYY')}
                                        td
                                            a(target="_blank",href="/movie/detail/#{item._id}") 查看
                                        td
                                            a(target="_blank",href="../movie/update/#{item._id}") 修改
                                        td
                                            button.btn.btn-danger.del(type="button",data-id="#{item._id}") 删除
    script(src="/javascript/admin.js")